body{
    margin-top: 40px;
}

#div-table{
    margin-top: 40px;
    max-height: 1000px;
    overflow: scroll
}

#table-acesso tr td:first-child{
    max-width: 10px;
}

.btn-salvar{
    font-size: 20px;
    width: 50%;
}